exclude: ^(docs|tests)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/asottile/reorder_python_imports
  rev: v3.9.0
  hooks:
  - id: reorder-python-imports
    args: [--application-directories, '.:src', --py38-plus]
- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
    args: [--line-length=79, --target-version=py311]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.2
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
- repo: https://github.com/jorisroovers/gitlint
  rev: v0.19.1
  hooks:
  - id: gitlint
