typing-extensions==4.12.2;python_version<"3.11"
rich==13.9.2
tree-sitter==0.23.1
ignorelib==0.3.0
requests==2.32.3
sarif-om==1.0.4
jschema-to-python==1.2.3
tree-sitter-go==0.23.1
tree-sitter-java==0.23.2
tree-sitter-python==0.23.2
