name: Upload wheel asset

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-n-publish:
    name: Build and upload wheel as asset
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      attestations: write
      contents: write

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: 3.13

    - name: Install dependencies
      run: |
        sudo apt-get install gettext
        pip install setuptools wheel

    - name: Build a binary wheel and a source tarball
      run: |
        sh -c 'for lang in de en_GB es fr it ja ko pt_BR ru zh_CN zh_TW; do msgfmt -o precli/locale/$lang/LC_MESSAGES/messages.mo precli/locale/$lang/LC_MESSAGES/messages.po; done'
        python setup.py sdist bdist_wheel

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          dist/*.whl
          dist/*.tar.gz

    - name: Attest Build Provenance
      uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a
      with:
        subject-path: 'dist/precli-*'
